*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #D9D9D9;
}
.invisible{
  height: 7.5em;
  width: 100vw;
  visibility: hidden;
}

header{
  background-color: black;
  width: 100%;
  height: 1.3em;
  color: #fff;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 10;
}    
header p{
  font-size: 0.9em;
}

nav{
  width: 100%;
  height: 6.2em;
  background-color: #8B0019 ;
  display: flex;
  justify-content: space-between;
}

.logoNav{
  height: 100%;
  width: 10em;
}

.logoNav img{
  width: 62%;
  height: 100%;
}


.linksNav{
  width: 55rem;
  max-width: 60em;
  display: flex;
  justify-content:end;
  align-items: center;
}

.linksNav ul{
  display: flex;
  height: 80%;
  width: 70%;
  max-width: 70%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 1.2em 0 0;
  background-color: #ffffff04;
  border-radius: 0.9em;
  padding: 0.4em;
}
.linksNav ul a{
  text-decoration: none;
  margin: 1em;
}
.linksNav ul li{
  color: #ffffff;
  font-size: 1.4rem;
  transition: 0.5s;
}

.linksNav ul li.not-hover {
  font-size: 1.4rem;
  opacity: 0.6;
  transition: 0.5s;
}

#carrinho img{
  height: 2.4em;
  width: 2.6rem;
  opacity: 0.7;
  transition: 0.2s;
}
#carrinho img:hover{
  height: 2.5em;
  width: 2.7rem;
  opacity: 1;
}

/* fim nav*/

#sectionBanner {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.banner {
  width: 100vw;
  height: 75vh;
  display: inline-flexbox;
  justify-content: center;
}

.title{
width: 90%;
margin: auto;
}

.title h1{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5.5em;
}
.title img {
  height: 5em;
  width: 90%;
}

.bannerImage{
  display: flex;
  justify-content: center;
}

.bannerImage img{
  height: 55vh;
  width: 90vw;
}

/*fim home*/

/*começo article*/

#sobreArticle{
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.containerSobre{
  margin: auto;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;

}
.contentImage{
  width: 30%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentImage img{
  height: 100%;
  width: 100%;
}
.contentText{
  display: flex;
  align-items: center;
  width: 70%;
  height: 95%;
  text-align: justify;
  overflow: auto;
  border-left:none ;
}

.contentText p {
  padding: 1rem;
  font-size: 2.2rem;
  max-width: 100%;
}
/* FIM ARTIGO*/

/*inicio beneficios*/
#sectionBeneficios{
  margin: 2em 0 0 0;
  width: 100vw;
  height: 69vh;
  border: 1px solid rgba(0, 0, 0, 0.256);
  border-left: 0;
  border-right  : 0;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  color: white;
  background-color: #8b0019e6;
}

.containerBeneficios{
  width: 16.5em;
  height: 69vh;
  border-radius: 0.7em;
}

.imgBeneficios{
  width: 100%;
  height: 50%;
  display: inline-block;
  text-align: center;  
}

.imgContainer{
  margin: 1em auto;
  width: 11em;
  height: 11em;
  background-color: #ffffff;
  border-radius: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer img{
  width: 12em;
  height: 12em;
  border-radius: 15em;
}

#containerPop{
  width: 12em;
  height: 12em;
}

#pop{
  width: 12em;
  height: 12em;
}

.titleBeneficio{
  width: 100%;
  height: 2.2em;
  margin-top: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.titleBeneficio h2{
  width: 100%;
}


.textBeneficios{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.textContainer{
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.textContainer p{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.3em;
  text-align: center;  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*fim beneficios*/

#products{
  width: 100vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrossel{
  z-index: 0;
  width: 2020px;
  height: 40vw;
  background-color: #b5b1b18a;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.containerCarrossel{
  overflow-x: hidden;
  display: flex;
  border: 1px solid black;
  width: 30%;
  position: relative;
  height: 80%;
  background-color: #8B0019;
}
/* Media query para telas menores que 600px (tipicamente telas de smartphones) */
@media (max-width: 450px) {
      
 .linksNav{
  width: 100%;
 }
}


@media (max-width: 600px) {

}